/* Form Styles */
.form {
  display: flex;
  flex-direction: column;
  max-width: 300px;
  margin: 20px auto;
}

.form input,
.form select,
.form button {
  margin-bottom: 10px;
  padding: 15px; /* Reduced padding for better alignment */
  width: 100%; /* Ensure all elements take full width of the form */
  box-sizing: border-box; /* Include padding and border in width */
  background-color: rgba(255, 255, 255, 0.772);
}

.form button {
  background-color: #007bff;
  color: white;
  border: none;
  cursor: pointer;
}

.form button:hover {
  background-color: #0056b3;
}

.form .no-spinner::-webkit-outer-spin-button,
.form .no-spinner::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
